footer.footer
    .footer__logo
        img(src='/img/svg-nebesky-logo-removebg-preview.png' alt='Logo')
    ul.footer__nav
        //- li: a(href='#') Footer link
        //- li: a(href='#') Footer link
        //- li: a(href='#') Footer link
        //- li: a(href='#') Footer link
        //- li: a(href='#') Footer link
    p.footer__copyright
        | &copy; blauergeist